p{font-family: Verdana, Geneva, Tahoma, sans-serif;}
a{text-decoration: none;}
.content_width {width: 68%; margin: auto;}
.float_left{float:left;}
.float_right{float:right;}
.clear_left{clear:left;}
.clear_right{clear:right;}
.clear_both{clear: both;}
.clearfix {overflow: auto;}
.position_relative {position: relative;}

button{
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
}

.display_inline_block{display: inline-block;}
.display_block{display: block;}
.white_text{color: white;}
.bold_text{font-weight: bold;}
.center_text{text-align: center;}
.sub_head{font-size: 30px;}
.sub_head ~ p{font-size: 11px;}
.sub_head + p{font-size: 20px;}

nav{
    position: relative;
    top: -40px;
}
nav a {
    text-decoration: none;
    font-size: 10px;
    color: #aba;
    padding: 0 0 0 20px;
}

nav a:hover{color: #FF4500;}
header p{
    font-family: 'Allura';
    font-size: 17px;
    margin: 21px 8px 0 0;
}
header input{margin-top:21px;}

.download_1 {
    height: 65px;
    background: #aba;
    color: white;
    margin-bottom: -25px;
}

.download_1 section{
    width: 60%;
    margin: auto;
}
.download_1 img{
    margin:auto;
}
.download_1 *{
    padding: 3px 10px;
}
.download_1 p{top:-11px; font-size: 15px;}
.download_1 button{
    top: -2px;
    border: 1px solid white;
    background-color: #777;
    color: white;
    font-size: 11px;
    padding: 10px 25px;
}

.contact_us {
    background-image: url(images/hbg2.png);
    background-size: 100% auto;
    height: 335px;
}

.contact_us section{
    width: 35%;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    left: 450px;
    top: 70px;
}
.contact_us button{
    font-size: 12px;
    background-color: #dc0;
    border: 0px;
    padding: 12px 30px;
}

article.about_us{width: 55%;}
article.about_us p{color: #555;}
article.about_us span{color: #222;}
span.tick_bullets{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(images/arrow1.png);
    background-size: 13px 13px;
    margin-right: 5px;
}

article.about_us p.tick_bullets{color: #222;}

.about_us button{
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #dc0;
    border: 0px;
}

img.about_us{
    top:125px;
    border:5px solid #aaa;
    clear: right;
}

section.about_us{margin-bottom: 450px;}

section.vital_works{
    height: 335px;
    background-image: url(images/hbg4.png);
    background-size: 100% auto;
    padding-top: 30px;
    margin-bottom: 30px;
}

.reviews{
    background-image:url(images/hbg6.png);
    height: 500px;
    background-size: 100% auto; 
    font-size: 13px;
}

.snippets{
    width: 36%;
    padding: 13px;
    background-color: white;
    margin: 0 10px 0 0;
    left: 9%;
    color: #444;
}

.snippets_head{font-size: 16px;}

.snippets_head ~ p{
    font-size: 10px;
    line-height: 2;
}

.snippets button{
    font-size: 10px;
    background-color: #dd0;
    width: 150px;
    border: 0px;
    margin-top: 10px;
}

.client_says{
    height: 353px;
    background-image:url(images/hbg5.png);
    background-size: 100% auto;
    margin-top: -30px;
    padding: 10px;
    color: white;
}
img.client_nav{padding: 40px 0px;}
.tooltip_image{
    width: 90%;
}

.within_tooltip{
    width: 16%;
    border-radius: 50%;
    top: -25%;
    padding: 6px;
    border: 6px solid #8F0;
}

p.client_exp{
    font-size: 12px;
    width:86%;
    padding: 0 43px;
}

.blog{height: 400px;}
.read_more{
    width: 28%;
    margin-right: 5.3%;
    font-size: 10px;
    line-height: 1.8;
}

.read_more img{
    width:100%;
}

.read_more button{
    font-size: 10px;
    color: #dc0;
    background-color: white;
    border: 1px solid #dc0;
}
.read_more button:hover{
    font-size: 10px;
    color: white;
    background-color: #dc0;
    border: 1px solid #dc0;
}

.download_2{
    background: #aba;
    color: white;
    height: 65px;
    font-size: 14px;
    font-weight: bold;
}
.download_2 section{
    width: 65%;
    margin:auto;
    padding:0px 1px;
}
.download_2 button{
    top: 15px;
    border: 2px solid white;
    background-color: #888;
    color: white;
    font-size: 11px;
    padding: 10px 25px;
 }
 .download_2 p{
     top:5px;
 }
.download_2 *{
    padding:7px 12px;
}
.container{
    margin:auto;
    width: 80%
}

.vertical_align{padding: 30% 10%;}

.sub_footer{
    background-color: #333;
    color: white;
    height: 370px;
}

.sub_footer section{
    padding-top: 15px; 
}

.logo_contact{
    width: 40%;
}

.quote_box{
    width: 56%;
    font-size: 13px;
}

.quote_box_buttons{
    padding: 0 10px;
}
.quote_box button{
    font-size: 11px;
    width: 159px;
    background-color: #dc0;
    border: 0px;
    padding: 12px 0px;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.infos{padding-top:40px;}

.infos section{
    width:28%;
    padding: 0 16px;
}
.contact_details p:nth-child(1){
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact_details p:nth-child(2){
    font-size: 9px;
    color: #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_details p:nth-child(4){
    font-size: 9px;
    color: #777;
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_details p:nth-child(5){
    font-size: 9px;
    color: #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_details p:nth-child(3){
    font-size: 9px;
    color: #777;
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recent_posts p:nth-child(1){
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recent_posts ul{
    margin: 0;
    padding: 0;
}

.recent_posts a{
    text-decoration: none;
    font-size: 9px;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recent_tweets p:nth-child(1){
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.tweet{
    font-size: 9px;
    color: #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recent_tweets a{
    color: #555;
    line-height: 1.2;
    font-size: 9px;
}
.recent_tweets span{
    position: relative;
    left:38px;
}

span.tweet_icon{
    display: inline-block;
    width:15px; height: 15px;
    background:url(images/icon9.png);background-size: 16px 15px;
    left: 0;
}
footer{
    background-color: black;
    height: 40px;
}

footer a,footer p{
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
    color: #999;
    font-size: 9px;
}

p.copyright_url{
    position: relative;
    top: -7px;
    font-size: 9px;
    color: #777;
}
p.other_links{
    position: relative;
    top: -7px;
}

.sprites{width:25px;
    height:25px;
    display:inline-block;
    transform:scale(0.7);
    position: relative;
    top: 9px;
}

.facebook{background: url(images/social_media_icons.png) 0px 0px;}
.twitter{background: url(images/social_media_icons.png) -28px 0px;}
.linkedin{background: url(images/social_media_icons.png) -55px 0px;}
.youtube{background: url(images/social_media_icons.png) -83px 0px;}
.google{background: url(images/social_media_icons.png) -110px 0px;}

.facebook:hover{background: url(images/social_media_icons.png) 0px 26px;}
.twitter:hover{background: url(images/social_media_icons.png) -28px 26px;}
.linkedin:hover{background: url(images/social_media_icons.png) -55px 26px;}
.youtube:hover{background: url(images/social_media_icons.png) -83px 26px;}
.google:hover{background: url(images/social_media_icons.png) -110px 26px;}
/* 
footer section{
    padding-right: 10px;
} */